<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fastSwitchProxyOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE6619951CF83B0A009DE86B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE6619A41CF83B0A009DE86B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE6619AF1CF83B0A009DE86B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
